/* ----------- For screens 768px and larger ----------- */
@media (min-width: 768px) {
	body {
		background: red;
	}
}

/* ----------- For screens 1200px wide and larger----------- */
@media (min-width: 1200px) and (max-width: 1600px) {
	body {
		background: blueviolet;
	}
}
